.block__footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #27282c;
    width: 100%;
    height: 200px;
   
}
.block__footer p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}
.block__footer-web {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
}
.insta {
    width: 100px;
    height: 70px;
}
.telega {
    width: 100px;
    height: 60px;
}

.insta:hover{
    margin-bottom: 20px;
    transition: 0.5s;
}
.telega:hover{
    margin-bottom: 20px;
    transition: 0.5s;
}


@media all and (max-width:426px){
    .block__footer p{
        font-size: 18px;
    }
    .insta {
        width: 80px;
        height: 50px;
    }
    .telega {
        width: 80px;
        height: 40px;
    }
}